
body {
    background : black;
    justify-items: center;
}

/* Phone Simulation */
.App-shell {
    width: 390px;      /* iPhone 14 width */
    max-width: 100vw;  /* don't overflow small devices */
    height: 95vh;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Top Bar */
.TopBar {
    display : flex;
    background : #800000;
    height : 15%;
}
/* Currency Converter */
.Currency-Selector {
    margin : 10px;
}

.Currency-Selector select {
    /* remove default arrow */
    background: none;
    color : white;
    border : 1px solid white;
    border-radius: 9999px;
    padding : 8px 40px 8px 12px;
}

.Balance {
    display : block;
    color : white;
    font-family :monospace ;
    margin-left : 10px;
}

.Settings {
    justify-content: center;
    margin : 10px 10px auto auto;
}
.Settings img {
    border-radius: 50%;
    width : 40px;
    height : 40px;
}

/* Operations */
#Operations {
    margin : 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 16px;                              /* space between items */
    place-items: top;                    /* center each image cell */
}

/* Images: uniform size without distortion */
#Operations img {
    width : 100%;
    object-fit: contain;    /* no squish, keep transparency */
    display: block;
}

